<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <context-param>
  	<param-name>storageDirectory</param-name>
	<param-value>storage</param-value>
  </context-param>
  
  <servlet>
  	<servlet-name>Index</servlet-name>
  	<servlet-class>servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<servlet-class>servlet.login.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Logout</servlet-name>
  	<servlet-class>servlet.login.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Gallery</servlet-name>
  	<servlet-class>servlet.Gallery</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Upload</servlet-name>
  	<servlet-class>servlet.storage.UploadServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>Index</servlet-name>
  	<url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Logout</servlet-name>
  	<url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Gallery</servlet-name>
  	<url-pattern>/gallery</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Upload</servlet-name>
  	<url-pattern>/upload</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
  	<welcome-file>index</welcome-file>
  </welcome-file-list>
  
</web-app>
